@charset "UTF-8";
:root {
  --white-color: #FFFFFF;
  --footer-color: #2F303A;
  --main-text-color: #212121;
  --acсent-color: #2196F3;
  --second-text-color: #757575;
  --team-bg: #F5F4FA;
  --header-outline: #ECECEC;
  --content-card-border: #EEEEEE;
  --social-icon-color: #AFB1B8;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.box {
  padding: 60px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .box {
    padding: 60px 140px;
  }
}

.accent {
  color: var(--acсent-color);
}

.accent-hover:hover,
.accent-hover:focus {
  cursor: pointer;
  opacity: 1;
  color: var(--acсent-color);
  fill: var(--acсent-color);
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding: 0 15px;
  outline: 1px solid var(--header-outline);
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 0 140px;
  }
}
.header .logo {
  font-size: 24px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}
@media screen and (min-width: 1200px) {
  .header .logo {
    font-size: 26px;
  }
}
.header .menu-icon {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .header .menu-icon {
    display: none;
  }
}
.header .menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  overflow: hidden;
  z-index: 1;
  background-color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .header .menu {
    position: static;
    padding: 0;
    height: 80px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 97%;
}
@media screen and (min-width: 768px) {
  .header .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header .wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header .accent {
  color: var(--acсent-color);
}
.header .menu-close-btn {
  position: absolute;
  top: 21px;
  right: 25px;
  width: 22px;
  height: 22px;
}
@media screen and (min-width: 768px) {
  .header .menu-close-btn {
    display: none;
  }
}
.header .menu-is-open {
  display: block;
}
.header .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.header .social-list__item {
  position: relative;
}
.header .social-list__item a {
  color: var(--acсent-color);
  text-decoration: none;
}
.header .social-list__separator {
  color: rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 768px) {
  .header .social-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    margin: 0 auto;
    height: 100%;
  }
}

.nav-list {
  height: 100%;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}
.nav-list__item {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .nav-list__item {
    margin-bottom: 0;
    height: 100%;
  }
}
.nav-list__item:last-child {
  margin: 0;
}
.nav-list__item a {
  position: relative;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .nav-list__item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .nav-list__item a.accent::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--acсent-color);
  }
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .contact-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    width: 138px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .contact-list__item {
    margin-bottom: 10px;
  }
}
.contact-list__item:first-child {
  font-size: 24px;
  color: var(--second-text-color);
}
@media screen and (min-width: 768px) {
  .contact-list__item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__item:first-child {
    font-size: 14px;
  }
}
.contact-list__item:last-child {
  font-size: 34px;
  margin-bottom: 32px;
  color: var(--acсent-color);
}
@media screen and (min-width: 768px) {
  .contact-list__item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    margin-bottom: 0;
    color: var(--second-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__item:last-child {
    font-size: 14px;
  }
}
.contact-list .icon-envelope {
  height: 12px;
  width: 16px;
  margin-right: 10px;
}
.contact-list .icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .icon-contact {
    display: none;
  }
}

.nav-list__item:first-child a,
.contact-list__item:first-child {
  margin: 0;
}

.accent-hover,
.logo {
  text-decoration: none;
  color: var(--main-text-color);
}

.hero {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(33, 150, 243, 0.3))), url(../../img/hero.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(33, 150, 243, 0.3)), url(../../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}
.hero-title {
  line-height: 1.62;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto 30px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    width: 605px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-btn {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: var(--acсent-color);
  color: var(--white-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.hero-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
  background-color: var(--white-color);
  opacity: 0.4;
  -webkit-transform: skew(-50deg) translate(-50px);
          transform: skew(-50deg) translate(-50px);
}
.hero-btn:hover::before {
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: skew(-50deg) translate(230px);
          transform: skew(-50deg) translate(230px);
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 93px;
  }
}
@media screen and (min-width: 768px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.about-list__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about-list__item {
    width: calc((100% - 30px) / 2);
    margin: 0;
  }
}
.about-list__item:last-child {
  margin-bottom: 0;
}
.about-list__item h2 {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .about-list__item h2 {
    text-align: start;
  }
}
.about-list__item p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}
.about .backdrop-icon {
  width: 100%;
  padding: 25px 0;
  margin-bottom: 25px;
  text-align: center;
  background-color: var(--team-bg);
}
.about .backdrop-icon .about-icon {
  width: 65px;
  height: 70px;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 84px;
  }
}
.clients-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 40px;
  }
}
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.clients-list-item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list-item {
    width: auto;
  }
}
.clients-icon {
  width: 100%;
  height: 92px;
  padding: 16px 52px;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  opacity: 0.6;
}
@media screen and (min-width: 1200px) {
  .clients-icon {
    padding: 16px;
  }
}
.clients-icon:hover, .clients-icon:focus {
  fill: var(--acсent-color);
  border-color: var(--acсent-color);
  opacity: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 555;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  padding: 40px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
.modal .close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid var(--social-icon-color);
  background-color: transparent;
  cursor: pointer;
}
.modal .close-btn_icon {
  width: 11px;
  height: 11px;
}
.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-form-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}
.modal-lable {
  position: relative;
  margin-bottom: 10px;
}
.modal-lable:focus-within {
  color: var(--acсent-color);
  fill: var(--acсent-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  border-radius: 4px;
}
.modal-icon {
  position: absolute;
  top: 40px;
  left: 15px;
  width: 16px;
  height: 15px;
}
.modal-comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal-form--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.modal-form--checkbox .modal-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.modal-form--checkbox .modal-checkbox:checked ~ .modal-icon-checkbox {
  border-color: var(--acсent-color);
  background-color: var(--acсent-color);
}
.modal-form--checkbox .user-consent {
  line-height: 14px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 400;
  color: var(--second-text-color);
}
.modal-form--checkbox .user-consent a {
  color: var(--acсent-color);
}
.modal-send-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.8%;
  letter-spacing: 0.06em;
  color: var(--white-color);
  border: none;
  background-color: var(--acсent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal .modal-icon-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 3px;
  fill: var(--white-color);
}

.team {
  background-color: var(--team-bg);
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 84px 140px 94px;
  }
}
.team-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-list__item {
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 30px) / 2);
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: auto;
  }
}
.team-list__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  outline: 1px solid var(--acсent-color);
}
.team-list__item img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .team-list__item img {
    margin-bottom: 18px;
  }
}
.team-list__item h3 {
  text-align: center;
  margin-bottom: 3px;
}
.team-list__item p {
  text-align: center;
  margin-bottom: 13px;
  color: var(--second-text-color);
}
.team-list__item .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-bottom: 24px;
}
.team-list__item .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 12px;
  overflow: hidden;
  opacity: 0.4;
}
.team-list__item .social-link-icon {
  width: 20px;
  height: 20px;
}
.team-list__item .social-link:hover, .team-list__item .social-link:focus {
  background-color: var(--acсent-color);
  fill: var(--white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.occupation {
  display: none;
}
@media screen and (min-width: 1200px) {
  .occupation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 94px;
  }
}
.occupation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 53px;
}

.occupation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.occupation-list__item {
  width: calc((100% - 60px) / 3);
  height: 100%;
}

.img-occupation {
  position: relative;
  overflow: hidden;
  height: 294px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-occupation:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.img-occupation img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.img-occupation h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 70px;
  width: 100%;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.filter-title {
  display: none;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  padding: 60px 15px 40px;
}
@media screen and (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.filter-list__item button {
  background-color: var(--team-bg);
  color: var(--main-text-color);
  border: none;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
}
.filter-list__item button.accent-btn {
  background-color: var(--acсent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0 15px 60px;
}
@media screen and (min-width: 1200px) {
  .content-list {
    padding: 0 140px 60px;
  }
}
.content-list__item {
  outline: 1px solid var(--content-card-border);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .content-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .content-list__item {
    width: calc((100% - 60px) / 3);
  }
}
.content-list__item:hover, .content-list__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.content-list__item .img-dis-item {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 77px 24px;
  color: var(--white-color);
  background-color: var(--acсent-color);
  opacity: 1;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-list__item .link-project {
  text-decoration: none;
  color: var(--main-text-color);
}
.content-list__item .link-project:hover .img-dis-item, .content-list__item .link-project:focus .img-dis-item {
  opacity: 0.9;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.content-list__item .link-project .img-dis {
  position: relative;
  height: 294px;
  overflow: hidden;
}
.content-list__item .link-project .img-dis img {
  width: 100%;
  height: 100%;
}
.content-list__item .link-project .content-dis {
  padding: 20px 24px;
}
.content-list__item .link-project .content-dis h2 {
  font-size: 18px;
  line-height: 2;
}
.content-list__item .link-project .content-dis p {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}

.footer {
  background-color: var(--footer-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer .logo {
  color: var(--white-color);
  font-size: 24px;
}
@media screen and (min-width: 1200px) {
  .footer .logo {
    font-size: 26px;
  }
}
.footer .footer-addres {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer .footer-addres {
    width: 50%;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-addres {
    width: 25%;
  }
}
.footer .footer-addres .address-list {
  margin-top: 10px;
}
.footer .footer-addres .address-list__item {
  color: var(--white-color);
  opacity: 0.6;
  margin-top: 4px;
}
.footer .footer-addres .address-list__item:first-child {
  opacity: 1;
  margin-top: 0;
}
.footer .footer-social {
  padding-top: 5px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer .footer-social {
    width: 50%;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-social {
    width: 21%;
    padding-top: 12px;
    padding-left: 3px;
  }
}
.footer .footer-social_title {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer .footer-social_title {
    margin-bottom: 15px;
  }
}
.footer .footer-social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .footer .footer-social .social-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer .footer-social .social-list .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 12px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .footer-social .social-list .social-link-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}
.footer .footer-social .social-list .social-link:hover, .footer .footer-social .social-list .social-link:focus {
  fill: var(--white-color);
  background-color: var(--acсent-color);
}

@media screen and (min-width: 768px) {
  .distribution {
    width: 75%;
    margin: 60px auto;
  }
}
@media screen and (min-width: 1200px) {
  .distribution {
    width: 50%;
    margin: 0;
    padding: 11px 0 0 14px;
  }
}
.distribution .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .distribution .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 20px 12px;
  }
}
.distribution .form-title {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .distribution .form-title {
    width: 100%;
  }
}
.distribution .form-input {
  height: 50px;
  width: 100%;
  padding: 15px;
  background-color: inherit;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .distribution .form-input {
    width: 62%;
  }
}
.distribution .form-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  width: 200px;
  height: 50px;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--acсent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.distribution .form-btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--white-color);
}/*# sourceMappingURL=main.css.map */