:root{
	--white-color: #FFFFFF;
	--footer-color: #2F303A;
	--main-text-color: #212121;
	--acсent-color: #2196F3;
	--second-text-color:#757575;
	--team-bg:#F5F4FA;
	--header-outline:#ECECEC;
	--content-card-border:#EEEEEE;
	--social-icon-color: #AFB1B8;
}

body{
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.71;
	font-weight: 400;
	color: var(--main-text-color);
	letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p{
	margin: 0;
	padding: 0;
}

.nav-list__item,
.contact-list__item,
.about-list__item,
.occupation-list__item,
.team-list__item,
.address-list__item,
.filter-list__item,
.content-list__item{
	list-style: none;
	align-items: center;
}
.list{
	margin: 0;
	padding: 0;
	display: flex;
}
.box{
	width: 1170px;
	margin: 0 auto;
}
.center{
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.accent-hover:hover,
.accent-hover:focus {
	cursor: pointer;
	opacity: 1;

	color: var(--acсent-color);
	fill: var(--acсent-color);
}

.icon{
	fill: currentColor;
}

/*header--------------------------------------------------------*/
header{
	outline: 1px solid var(--header-outline);
}
.nav{
	margin-left: 93px;
}

.nav-list__item a{
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 50px;
	height: 80px;
}

.contact-list__item{
	height: 80px;
	margin-left: 30px;
	color: var(--second-text-color);
}
.nav-list__item:first-child a,
.contact-list__item:first-child{
	margin: 0;
}
.contact-list{
	margin-left: 302px;
}

.logo{
	font-size: 26px;
	font-family: Raleway, sans-serif;
	font-weight: 700;
}

.accent-hover, .logo{
	text-decoration: none;
	color: var(--main-text-color);
}

.accent {
	color: var(--acсent-color);
}
.nav-list__item .accent::after{
	content: '';

	position: absolute;
	top: 97%;
	left: 0;

	width: 100%;
	height: 3px;

	background-color: var(--acсent-color);
}
.icon-envelope{
	height: 12px;
	width: 16px;
	margin-right: 10px;
}
.icon-phone{
	width: 10px;
	height: 16px;
	margin-right: 10px;
}

/*hero----------------------------------------------------------*/
.hero{
	background-image: linear-gradient(to right,
	rgba(47, 48, 58, 0.8),
	rgba(47, 48, 58, 0.8)),
	url(../img/hero.jpg);

	height: 600px;
	flex-direction: column;
}
.hero-title{
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;
	
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: var(--white-color);

		width: 716px;
		margin: 0 auto 30px;
}

.hero-btn{
	position: relative;
	margin: 0 auto;
	height: 50px;
	width: 200px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18.8;
	letter-spacing: 0.06em;

	background-color: var(--acсent-color);
	color: var(--white-color);
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	overflow: hidden;
	cursor: pointer;
}

.hero-btn::before{
	content: '';
	position: absolute;

	height: 100%;
	width: 20px;
	background-color: var(--white-color);
	opacity: 0.4;

	transform: skew(-50deg) translate(-150px) ;
}

.hero-btn:hover::before{
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
	transform: skew(-50deg) translate(150px)
}

/*modal--------------------------------------------------------*/

.backdrop{
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);

	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal{
	transform: translate(-50%, -50%) scale(0.4);
}

.modal{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	

	width: 528px;
	height: 581px;
	border-radius: 4px;

	background-color: var(--white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
	0px 1px 1px rgba(0, 0, 0, 0.14),
	0px 2px 1px rgba(0, 0, 0, 0.2);;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn{
	position:absolute;
	top: 8px;
	right: 8px;

	border-radius: 50%;
	border: 1px solid var(--social-icon-color);

	background-color: transparent;

	cursor: pointer;

}

.close-btn_icon{
		width: 11px;
		height: 11px;
		padding: 10px;
}

/*about---------------------------------------------------------*/
.about{
	margin-top: 94px;
}
.about-list__item{
	width: 270px;
	margin-left: 30px;
}
.about-icon{
	border-radius: 4px;
	width: 65px;
	height: 70px;
	background-color: var(--team-bg);
	padding: 25px 102px;
	margin-bottom: 30px;
}

.about-list__item:first-child{
	margin: 0;
}
.about-list__item>h2{
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.about-list__item>p{
	margin-top: 10px;
	font-size: 14px;
	line-height: 1.71;
	color: var(--second-text-color)
}

/*occupation-----------------------------------------------------*/

.occupation-title{
margin-top: 94px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}
.occupation-list__item{
	margin-top: 50px;
margin-left: 30px;
}
.occupation-list__item:first-child{
	margin-left:  0;
}

.img-occupation{
	position: relative;
	overflow: hidden;
	height: 294px;
}

.img-occupation img{
transform: scale(1);
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-occupation:hover img{
	
	transform: scale(1.1);
}
.img-occupation h3{
	position: absolute;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 100%;

	color: var(--white-color);
	background-color: rgba(47, 48, 58, 0.8);
}
/*team---------------------------------------------------------*/

.team{
	margin-top: 94px;
	padding: 94px;
	background-color: var(--team-bg);
}
.team-title{
	font-size: 36px;
	text-align: center;
	margin-bottom: 50px;
}
.team-list__item{
	background-color: var(--white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
	0px 1px 1px rgba(0, 0, 0, 0.14),
	0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	margin-left: 30px;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
	outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list__item:first-child{
	margin: 0;
}

.team-list__item:hover{
	transform: scale(1.05);
	outline: 1px solid var(--acсent-color);
}
.team-list__item h3{
	text-align: center;
}
.team-list__item p{
	margin-top: 10px;
	text-align: center;
	color: var(--second-text-color);
}
.social{
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 10px;
	margin-top: 16px;
	margin-bottom: 30px;
}

.social-link{
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
	overflow: hidden;
}

.social-link-icon{
	opacity: 0.4;
	padding: 12px;
	width: 20px;
	height: 20px;

}


.social-link-icon:hover,
.social-link-icon:focus {
	background-color: var(--acсent-color);
	fill: var(--white-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	opacity: 1;
}
/*clients-----------------------------------------------------*/
.clients-title{
	font-size: 36px;
	text-align: center;
	margin-top: 94px;
	margin-bottom: 50px;
}
.clients-list{
	list-style: none;

	display: flex;
	justify-content: space-between;

	margin-bottom: 94px;
}

.clients-icon {
padding: 16px 32px;

	border: 1px solid var(--social-icon-color);
	border-radius: 4px;
	opacity: 0.6;

	width: 106px;
	height: 60px;
}
.clients-icon:hover,
.clients-icon:focus{
	fill: var(--acсent-color);
	border-color: var(--acсent-color);
	opacity: 1;
}


/*footer-------------------------------------------------------*/
.footer{
	padding: 60px 0;
	background-color: var(--footer-color);
}
.address-list{
	margin-top: 20px;
	flex-direction: column;
}
.address-list__item{
	color: var(--white-color);
	opacity: 0.6;

}
.address-list__item p{
	margin: 0;
}
.address-list__item:first-child {
	opacity: 1;
	margin-top:0;
}
.footer .logo{
	color: var(--white-color);
}

.footer-box{
	display: flex;
}
.footer-social {
	margin-left: 70px;
}
.footer-social_title{
	font-size: 14px;
	text-transform: uppercase;
	color: var(--white-color);
	margin-top: 12px;
}
.footer-social .social-link-icon{
	background-color: var(--white-color);
}
.footer-social .social-link-icon:hover,
.footer-social .social-link-icon:focus
{
fill: var(--white-color);
background-color: var(--acсent-color);
}

/*filter----------------------------------------------------*/

.filter-title{
	display: none;
}
.filter-list__item button{
	background-color: var(--team-bg);
	color: var(--main-text-color);
	border: none;
	height: 38px;
	margin: 100px 4px 50px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	
	border-radius: 4px;
}
.filter-list__item .accent-btn{
	background-color: var(--acсent-color);
	color: var(--white-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*content-----------------------------------------------------*/

.content-list{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-bottom: 94px;
}
.content-list__item{
	/*height: 404px;*/
	outline: 1px solid var(--content-card-border);
}
.lick-project{
	text-decoration: none;
	color: var(--main-text-color);
}
.content-list__item:hover,
.content-list__item:focus{
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
	0px 4px 4px rgba(0, 0, 0, 0.06),
	1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-dis {
	padding: 20px 24px;
}

.content-dis>h2{
font-size: 18px;
line-height: 2;
}

.content-dis>p{
		font-size: 16px;
		line-height: 1.88;
		margin-bottom: 20px;
		color: var(--second-text-color);
}

.img-dis {
	position: relative;
	height: 294px;
	overflow: hidden;
}

.img-dis-item{
	position: absolute;
	top:50%;
	left: 50%;
	width: 322px;
	height: 168px;

	font-size: 18px;

	padding: 63px 24px;
	color: var(--white-color);
	background-color: var(--acсent-color);
	opacity: 1;

	transform: translate(-50%, 50%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}
.lick-project:hover .img-dis-item,
.lick-project:focus .img-dis-item
{
	opacity: 0.9;
	transform: translate(-50%, -50%);
}
